.logo {
  height: 80px;
  margin: 16px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}

.articles-list button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.sider {
  min-height: 100vh;
}